.home-page .home-link {
    display: none;
}
.home-page .screen-content {
    padding: 0;
    position: relative;
    overflow: hidden;
}

.section {
    display: block;
    margin: 0;
    border-bottom: 3rem solid #031d1d;
}
.section .inner {
    padding: 1rem;
    max-width: 60rem;
    margin: 0 auto;
}


section.section.home {
    background: #fff;
    border-bottom: none;
}
.text-overlay {
    max-width: 22rem;
    margin: 0 auto;
    padding: 0 1rem;
}
img.logo {
    width: 100%;
    margin-top: 2rem;
}
p.blurb {
    margin: 0 0 1rem;
    line-height: 1.1em;
    color: #f9ae23;
    text-align: center;
    font-size: 1.2rem;
}
ul.product-list {
    margin: 1rem 0;
    padding: 1rem 0;
    list-style: none;
    background: #fff;
}
.product-list li {
    display: block;
}
.product-list a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1em;
    padding: 0.35em 0.5em;
}
.product-list a > i {
    display: inline-block;
    margin-right: 0.5em;
}


p.blurb-sm {
    background: #5d738a;
    color: #fff;
    text-align: center;
    padding: 1rem;
    line-height: 1.1em;
    margin: 0;
    font-size: 1.3rem;
    font-family: Montserrat, sans-serif;
}



section.demonstration {
    background: #031d1d;
    text-align: center;
    padding: 5rem 0;
    border-bottom: 5rem solid #011010;
    border-top: 5rem solid #011010;
}



section.testimonials {
    border-bottom: 1rem solid #5aba40;
    background: #dcdcdc;
    color: #5d738a;
}
.testimonials ul {
    padding: 4rem 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.testimonials li {
    display: inline-block;
    max-width: 16rem;
    text-align: left;
    margin: 1rem;
    font-family: serif;
    font-style: italic;
    vertical-align: top;
}
span.signature {
    display: block;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 1em;
}



.section.nsadmin {
    background: #022626;
}
.section.library {
    background: #035951;
}
.section.book-rental {
    background: #76A66F;
}
.section.accounts {
    background: #035951;
}
.section.payments {
    background: #022626;
}
.section.messenger {
    background: #035951;
}
.section.teaching-planner {
    background: #76A66F;
}
.section.pt-meeting-scheduler {
    background: #035951;
}
.section.websites {
    background: #76A66F;
}


h2.section-title {
    margin: 1rem 0 0;
    font-size: 1.7rem;
}
p.product-description {
    margin: 0;
}
.feature-list-wrap {
    overflow: hidden;
    margin: 2rem 0;
    border-radius: 0.5rem;
}
.icon-ctn {
    display: none;
}
ul.feature-list {
    padding: 0 0 0 1.2rem;
    text-align: left;
    vertical-align: top;
    list-style: disc outside;
    margin: 0;
    display: inline-block;
}
.feature-list > li {
    margin: 0 0 0.5em;
    font-size: 0.9rem;
}
.section-buttonset {
    font-size: 1.2rem;
    margin: 2rem 0 0;
    display: none;
}


.demonstration p {
    font-size: 2rem;
    line-height: 1.2em;
    margin: 0 0 0.5em;
}
.demonstration p:first-child {
    color: #208dff;
}
p.demo.number {
    font-size: 4rem;
    line-height: 1.1em;
    margin: 1rem 0;
}
p.demo.open-hours {
    font-size: 1rem;
}




@media (min-width: 680px)
{
    .section.home .inner {
        background: url(images/smiling-teacher-green.jpg) bottom right no-repeat #fff;
        min-height: 503px;
    }
    .text-overlay {
        margin: 0;
    }

    p.blurb-sm {
        font-size: 3rem;
    }

    .testimonials li {
        max-width: 25%;
    }

    h2.section-title {
        font-size: 3rem;
        line-height: 1em;
        text-align: center;
        margin-top: 3rem;
    }
    p.product-description {
        font-size: 1.2rem;
        text-align: center;
        margin: 1rem auto 0;
    }

    .feature-list-wrap {
        margin: 0 0 4rem;
    }
    ul.feature-list {
        width: 40rem;
        margin: 0 auto;
        display: block;
        background: rgba(213,217,186,0.25);
        padding: 2rem 3rem;
    }
    .icon-ctn {
        display: block;
        margin: 1rem auto 2rem;
        width: 9.5rem;
        text-align: center;
        font-size: 7.5rem;
        vertical-align: top;
    }
    .fa-stack {
        width: 9.5rem;
        vertical-align: top;
        margin-top: 1rem;
        line-height: inherit;
        height: auto;
    }
    .book-rental .fa-circle, .book-rental .fa-user-circle {
        font-size: 4.5rem;
        top: 3.5rem;
        text-align: right;
    }
}

@media (min-width: 1024px)
{
    section.section.home {
        padding-top: 4rem;
    }
}