section.screen-content {
    max-width: 60rem;
    margin: 0 auto;
}
.inner-wrap {
    margin-top: 1rem;
}

.preamble {
    max-width: 60rem;
    margin: 0 auto;
}



dl.faqs {
    border-top: 2px dotted #ccc;
    margin: 3rem auto 1rem;
    padding-top: 1rem;
    max-width: 60rem;
}
.faqs dt {
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
    display: block;
    min-height: 3em;
    border-top: 1px solid #e8e8e8;
    color: #86b7e8;
    cursor: pointer;
    position: relative;
    padding: 1rem 2rem 1rem 0;
}
.faqs dt:first-child {
    border-top: none;
}
.faq-expand {
    position: absolute;
    line-height: 1.5em;
    height: 1.5em;
    display: inline-block;
    top: calc(50% - 0.75em);
    right: 0;
    color: #8cc17e;
    font-size: 1.5em;
}
.faqs li {
    margin-bottom: 0.5em;
}
.faqs dd {
    padding: 0 1rem 2rem 0;
    max-width: 60rem;
    display: none;
    margin: 0;
}
.faqs dd ul {
    margin-left: -1em;
}



.contact {
    text-align: center;
}
.contact p {
    margin: 0;
}
.contact a {
    display: inline-block;
    background: #5d738a;
    text-decoration: none;
    color: #fff;
    line-height: 2em;
    height: 2em;
    padding: 0 0.5em;
    margin: 0.5em 0;
    cursor: pointer;
}

@media (min-width: 700px)
{
    .preamble {
        padding-top: 2rem;
    }
    .contact {
        max-width: 60rem;
        margin: 0 auto;
        text-align: right;
    }
    .light-panel {
        padding-bottom: 6rem;
    }
}

