.home-page .screen-content {
    padding: 0;
    margin: 2rem auto;
    max-width: 60rem;
}

.home-preamble {
    padding: 1rem;
    max-width: 35rem;
    display: inline-block;
}
h2 {
    margin-top: 0;
}
h3 {
    margin-top: 4rem;
}
#login {
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
    max-width: 18rem;
    margin: 1rem;
    background: #fff;
}
.buttonset {
    text-align: center;
    padding-top: 4rem;
}


@media (min-width: 890px) {
    .home-page .screen-content {
        margin: 4rem auto;
    }
    #login {
        float:right;
        border: 1px solid #cdcdcd;
        border-radius: 4px;
        box-shadow: 4px 4px 8px #ccc;
    }
}